/* ==========================
   Result Table
========================== */

.result-table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

.result-table th,
.result-table td{

    border:1px solid #ddd;
    padding:15px;
    text-align:left;
}

.result-table th{

    background:#0d6efd;
    color:white;
    width:40%;
}

.result-table tr:nth-child(even){

    background:#f2f2f2;
}

.result-table td{

    font-size:18px;
    font-weight:bold;
}

.btn{

    padding:12px 25px;
    border:none;
    background:#0d6efd;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.btn:hover{

    background:#084298;
}
.card{
    background:white;
    width:700px;
    margin:30px auto;
    padding:30px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    text-align:center;
}

select{
    width:250px;
    padding:10px;
    font-size:16px;
}

button{
    padding:12px 25px;
    background:#1e88e5;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#1565c0;
}

body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#dbeafe,#bfdbfe,#93c5fd);
}

header{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    background:#084298;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-size:18px;
    font-weight:bold;
}

nav a:hover{
    color:#ffd43b;
}

footer{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:40px;
}